@import "./utils/typography";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/variables";

body {
  background-color: $black;
  @extend %body-text;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: $white;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

[data-hidden] {
  opacity: 0;
}
