@import "./mixins";

%h1 {
  font-family: Nastup, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 142%;
  letter-spacing: normal;

  @include mq() {
    font-size: 5vw;
  }
}

.big-text {
  font-family: Nastup, sans-serif;
  font-size: 11vw;
  font-style: normal;
  line-height: 90%;
  letter-spacing: normal;

  @include mq() {
    font-size: 16vw;
  }
}

%h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;

  @include mq() {
    font-size: 4vw;
  }
}

%body-text {
  font-family: Montserrat, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.07vw;

  @include mq() {
    font-size: 3vw;
  }
}

%link {
  font-family: Chakra Petch, sans-serif;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: 124.235%;
  text-transform: uppercase;
  letter-spacing: normal;

  @include mq() {
    font-size: 3vw;
  }
}

.small-text {
  font-family: Monstserrat, sans-serif;
  font-size: 1.35vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150.857%;
  letter-spacing: 0.07vw;

  @include mq() {
    font-size: 3vw;
  }
}

footer {
  font-family: Consolas, sans-serif;
  font-size: 1.35vw;;
  font-style: normal;
  font-weight: 400;
  line-height: 185.856%;
  letter-spacing: 0.07vw;

  @include mq() {
    font-size: 2.5vw;
  }
}

.bold {
  font-weight: 700;
}

body {
  @extend %body-text;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

a {
  @extend %link;
}
