$red-main: #d50025;
$red-secondary: #AD0404;
$red-transparent: #d000004a;
$black: #080808;
$black-transparent: #00000040;
$white: #e6e6e6;
$grey-main: #8c8989;

$shadow: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));

/* -- Media Query Breakpoints -- */
$phone: 320;
$phablet: 556;
$tablet: 768;
$tablet-large: 1024;
$laptop: 1199;
$desktop: 1440;
