@import "../../styles/global.scss";

.download-buttons {
  display: flex;
  justify-content: space-between;
  
  @include mq() {
     justify-content: space-around;
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    padding: 1vw 4.5vw;
    border: 0.2vw solid $red-main;
    border-radius: 5%;
    text-transform: none;
    transition: all 0.3s ease-out;

    @include mq() {
      padding: 0 5vw;
      gap: 2vw;
    }
    
    & img {
      object-fit: contain;
      height: 80%;
      
      @include mq() {
        height: 40%;
      }
    }

    &:hover {
      background-color: $red-main;
    }
  }
}
